@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

/*============= BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}
body,
input,
select,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
input,
select,
button {
    border: none;
    outline: none;
}
h1,
h2,
h3,
h4 {
    font-weight: var(--font-bold);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--white-color);
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.container {
    max-width: 1120px;
    margin: auto;
}
.section {
    padding-block: 5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section__title,
.section__subtitle {
    text-align: center;
    margin: auto;
    width: min(90%, 1300px);
}
.section__title {
    font-size: var(--big-font-size);
    margin-bottom: 1rem;
}
.section__subtitle {
    display: block;
    font-size: var(--h2-font-size);
    margin-bottom: 0.25rem;
}
.main {
    overflow: hidden;
}
.mb-48 {
    margin-bottom: clamp(24px, 2.5vw, 96px) !important;
}
:root {
    --header-height: 6rem;
    /*============= Colors ===============*/
    /* Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 12%, 8%);
    --white-color: hsl(0, 0%, 100%);
    --input-color: hsl(0, 0%, 98%);
    --whatsapp-color: hsl(120, 100%, 38%);
    --grey-color: #E3E8ED;

    --color-blue: hsl(210, 100%, 25%);
    --color-yellow: hsl(46, 98%, 50%);

    /*============= Font and typography ===============*/
    /* .5rem = 8px | 1rem = 16px ...*/
    --body-font: "Maven Pro", sans-serif;
    --biggest-font-size: 3rem;
    --bigger-font-size: 2.25rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /*============= Font weight ===============*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*============= z index ===============*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*============= Responsive typography ===============*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 6rem;
        --bigger-font-size: 4.5rem;
        --big-font-size: 3.5rem;
        --h1-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

/* ===== HEADER ===== */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: box-shadow 0.4s;
}
.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__menu {
    width: initial;
}
.nav__list {
    display: flex;
    column-gap: 2rem;
}
.nav__toggle,
.nav__close {
    display: none;
}
.nav__logo img {
    width: 9rem;
}
.nav__link {
    color: var(--color-blue);
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    letter-spacing: 2px;
    transition: color 0.4s;
}
.nav__link:hover{
    color: var(--color-yellow);
}
.active-link {
    color: var(--color-yellow);
}
.shadow-header {
    box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.219);
}

/* ===== BANNER ===== */
.banner {
    position: relative;
    overflow: hidden;
    margin: 6rem 0 7rem;
    height: auto;  /*remove */
}
.banner.section {
    padding: 0;
}

/* Slides */
.banner-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.banner-slide.active {
    opacity: 1;
    position: relative;
    z-index: 1;
}

/* Imagen del banner */
.banner-img {
    width: 95%;
    height: 78vh;
    margin: auto;
    border-radius: 30px;
    display: block;
    /* object-fit: cover; */
}

/* Contenido del banner */
.banner-content {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 0;
    color: var(--white-color);
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-title {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: var(--font-semi-bold);
}
.banner-title span {
    color: var(--color-yellow);
}
.banner-title strong {
    background-color: var(--color-yellow);
    color: var(--color-blue);
    padding: 0 0.3em;
    border-radius: 5px;
}
.hero-contact{
    position: absolute;
    width: 17%;
    top: 75%;
    right: 2.6%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.first-column-bnr, .second-column-bnr{
    padding: 10px 2rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #002855;
}
.title-hero i{
    font-size: 30px;
}

/* ===== BOTONES DE NAVEGACIÓN ===== */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    padding: 0.3em 0.5em;
    color: var(--white-color);
    background: transparent;
    border: none;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s, transform 0.2s;
}

/* Posiciones */
.prev {
    left: 3%;
}
.next {
    right: 3%;
}

/* ===== ANIMACIÓN DE ENTRADA EN CADA SLIDE ===== */
.banner-slide .banner-content {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.banner-slide.animate .banner-content {
    opacity: 1;
    transform: translateY(0);
}

/* ===== ABOUT-US ===== */
.about-us{
    background-color: var(--color-blue);
}
.container-us{
    width: min(100%, 1400px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.about-us-image, .about-us-content{
    width: 45%;
}
.about-us-image img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.about-us-content h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--white-color);
    text-transform: uppercase;
}
.about-us-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--white-color);
}
.about-us-button {
    display: inline-block;
    background-color: var(--white-color);
    color: var(--color-blue);
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 50px;
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: background-color 0.9s;
}
.about-us-button:hover,
.about-us-button:focus {
    background-color: var(--color-yellow);
    color: var(--white-color);
}

/*============SERVICE============== */

.container-services{
    width: min(100%, 1300px);
    margin: auto;
}
.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-heading{
    text-align: center;
}
.title-heading h2{
    color: var(--color-blue);
    font-weight: var(--font-bold);
    font-size: 38px;
}
.title-heading h2 span{
    color: var(--color-yellow);
}
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1303px;
    margin: 2rem auto;
}
.sectors-track{
    display: flex;
    transition: transform 0.6s ease-in-out;
    will-change: transform;
}
.sector-card{
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 0 7.5px;
}
.card-img{
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}
.sector-card img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
    display: block;
}
/* Botones */
.button-prev, .button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: var(--black-color);
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.button-prev { left: -50px; }
.button-next { right: -50px; }

.image-effect{
    position: relative;
    display: block;
}
.sector-card:hover .card-img img {
    transform: scale(1.08);
}
.image-effect:hover::after {
    height: 250%;
    background-color: transparent;
}
.image-effect::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(244, 244, 244, 0.3);
    transform: translate(-50%, -50%) rotate(-40deg);
    transition: all 0.9s ease-in-out;
    z-index: 2;
    pointer-events: none;
}
.sector-inf{
    display: flex;
    height: 5rem;
}
.sector-inf h3{
    width: 60%;
    display: flex;
    align-items: center;
    background: rgba(244, 180, 0, 0.3);
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 1rem;
    font-weight: 500;
}
.sector-inf a{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    color: var(--black-color);
    background-color: white;
}
.sector-inf a span{
    color: var(--color-yellow);
    padding: 0 6px;
    font-size: 18px;
}
.sector-card .account{
    padding: clamp(18px, 1.25vw, 48px);
    border-radius: 0px 0px 8px 8px;
    background: #fff;
    display: flex;
    align-items: center;
    text-align: start;
    gap: clamp(12px, 0.833vw, 32px);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.sector-card .account p{
    color: #1d1e22;
}

/* ===========SERVICE============ */

.container-service{
    width: min(100%, 1200px);
    margin: auto;
}
.bg-serv{
    background-color: var(--grey-color);
    padding-top: 10rem;
    margin-top: -11rem;
}
.fs-title{
    font-size: 30px !important;
}
.container-cards{
    max-width: 899px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 5rem;
    object-fit: cover;
}
.sect-cards {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.9s ease;
    cursor: pointer;
    padding: 2rem;
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sect-cards:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
}
.sect-icon i{
    font-size: 40px;
}
.sect-inf h3 {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

/* ======= BOTÓN ======= */
.service-btn{
    display: flex;
    justify-content: center;
    margin: 6rem 0 0 0;
}
.service-btn button{
    display: flex;
    align-items: center;
    gap: 7px;
    align-self: center;
    background: var(--color-blue);
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
.service-btn button:hover {
    background: var(--color-yellow);
    color: #000;
}

/* CONTACTO */

.hero-banner {
    position: relative;
    width: 100%;
    height: 60vh;
    background: url("img/mapa-peru.jpg") center/cover no-repeat;
    background-attachment: fixed;
    background-position: center top;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.hero-banner .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* efecto oscuro */
    z-index: 1;
}
.banner-contact {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--white-color);
    padding: 0 1rem;
}
.banner-contact h2 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--color-yellow);
    margin-bottom: 2rem;
    font-family: "Racing Sans One", sans-serif;
    letter-spacing: 3px;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}
.btn-contact {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-decoration: none;
}
.btn-contact:hover {
    background: var(--color-yellow, #f4b400);
    color: #000;
    border-color: var(--color-yellow, #f4b400);
}

/* ===== TESTIMONIALS SECTION ===== */

.testimonials {
    padding: 60px 0;
    background: var(--white-color);
}
.container-testimonials {
    width: min(100%, 1300px);
    margin: auto;
    text-align: center;
    padding: 3rem 2rem;
}
.container-testimonials h2 {
    font-size: 38px;
    color: var(--color-blue, #002855);
    font-weight: 800;
    margin-bottom: 4rem;
}
.container-testimonials h2 span {
    color: var(--color-yellow, #f4b400);
}
.testimonial-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    transition: transform 0.8s ease-in-out;
    margin-left: 5px;
}
.testimonial-card {
    position: relative;
    background: #fff;
    border-radius: 30px;
    border: 2px solid var(--color-blue);
    padding: 2rem;
    width: 45%;
    text-align: left;
    overflow: visible;
}
.quote-icon {
    position: absolute;
    top: -35px;
    right: 25px;
    font-size: 110px;
    color: var(--color-yellow);
    line-height: 0.8;
    pointer-events: none;
}
.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}
.client-logo {
    width: 60px;
    height: 60px;
    background-size: 100%;
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.client-info h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--black-color);
}
.client-info p {
    font-size: 0.9rem;
    color: #777;
}
.testimonial-text p {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
.testimonial-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonial-footer .stars{
    padding: 3px;
    background-color: #f4b30023;
}
.stars i {
    color: var(--color-yellow, #f4b400);
    font-size: 1.1rem;
}
.testimonial-date {
    color: var(--color-yellow, #f4b400);
    font-weight: 600;
    font-size: 0.95rem;
}
.testimonial-slider-track {
    overflow: hidden;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 0;
}
.testimonial-card {
    flex: 0 0 calc((100% / 2) - 1rem);
    box-sizing: border-box;
}

/* =====================QUESTION==================== */

.container-quest {
    width: 100%;
    height: 100%;
    background-image: url(img/product-imgs.png);
    background-size: 100% 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain-quest {
    width: 100%;
    height: 100%;
    background-color: #002855c7;
}
.container-inf-quest {
    text-align: center;
    margin: 5rem 0 50px;
}
.container-inf-quest h2 {
    font-size: 38px;
    color: var(--white-color);
    font-weight: 600;
    letter-spacing: -0.5px;
}

/* ===================MARCAS================== */

.brands-section {
    width: 100%;
    background: var(--white-color);
    border-radius: 16px;
    padding: 60px 40px;
}
.brands-container {
    text-align: center;
    max-width: 1200px;
    margin: auto;

}
.brands-title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 50px;
    color: var(--color-blue);
}
.carousel-wrapper {
    position: relative;
    overflow: hidden;
}
.carousel {
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}
.carousel-track {
    display: flex;
    gap: 40px;
    animation: scroll 30s linear infinite;
    width: fit-content;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.carousel-item {
    flex-shrink: 0;
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.carousel-item:hover {
    transform: scale(1.1);
}
.carousel-item .carousel-wt{
    max-height: max-content;
}
.brand-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: filter 0.3s ease;
}

/* ===============NOTICIAS=================== */

.bg-dark{
    background-color: #FDCF60;
}
.bg-light{
    background-color: var(--color-yellow) !important;
}
.p-title-nt{
    text-align: center;
    font-size: 18px;
    font-weight: var(--font-bold);
    margin-top: 20px;
}
.cert-containter{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.cert-containter img{
    width: 20%;
    height: auto;
}

/* ===============FRANCHISE=================== */
.banner-franchise{
    position: relative;
}
.img-portada{
    width: 100%;
    height: 420px;
    background-image: url("img/franchise.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.img-portada-responsive, .img-portada-tablet{
    display: none;
}
.inf-bnr{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 28px;
    font-weight: 400;
}
.inf-bnr p{
    font-size: 20px;
}
.inf-bnr p:nth-child(1){
    font-size: 25px;
}
.inf-bnr a > p{
    background-color: var(--color-blue);
    color: white;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 5px;
}

/* ===============FOOTER=================== */

footer{
    background-color: var(--color-blue);
}
.footer-content{
    color: var(--white-color);
    max-width: 1120px;
    margin: auto;
}
.footer-main{
    padding: 60px 0;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
.copyright{
    background-color: #014F9B;
}
.footer-section{
    width: 50%;
}
.social-links{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.footer-section h3, .footer-section h2{
    margin-bottom: 1rem;
}
.footer-section p{
    margin-bottom: 1rem;
}
.social-links a{
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 16px !important;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-bottom: 0;
}
.social-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--color-yellow);
    color: var(--color-yellow);
}
.footer-section a{
    display: block;
    font-size: 14px;
    color: #e0e0e0;
    text-decoration: none;
    margin-bottom: 12px;
    transition: color 0.3s ease;
}
.footer-section a:hover {
    color: var(--color-yellow);
}
.contact-info span{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    font-size: 14px;
}
.contact-info span > i{
    color: var(--color-yellow);
}
.newsletter-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.newsletter-box p {
    font-size: 13px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}
.newsletter-form {
    display: flex;
    gap: 0;
}
.newsletter-form input {
    flex: 1;
    padding: 12px 15px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    outline: none;
}
.newsletter-form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.newsletter-form button {
    padding: 12px 15px;
    background-color: var(--color-yellow);
    border: none;
    border-radius: 0 4px 4px 0;
    color: var(--color-blue);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}
.newsletter-form button:hover {
    background-color: #ffb300;
}
.copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}
.ft-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px 0;
}
.footer-down{
    display: flex;
    justify-content: center;
}

/* ============WSP============= */

.button__floating {
    z-index: var(--z-fixed);
    bottom: 1rem;
    padding: 8px;
    position: fixed;
    border-radius: 0.5rem;
    font-size: var(--small-font-size);
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 25%);
}
.button__floating-wsp {
    background: var(--whatsapp-color);
    right: 1rem;
}
.button__floating-wsp img {
    width: 36px;
    padding: 0.2rem;
}
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    transform: translateY(4rem);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: var(--z-tooltip);
    background-color: var(--white-color);
    box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.1);
    color: var(--black-color);
    display: inline-flex;
    padding: 8px;
    font-size: 2rem;
    border-radius: 0.5rem;
}
.scrollup:hover {
    transform: translateY(-0.5rem);
}

/* Show scroll up */
.show-scroll {
    opacity: 1;
    transform: translateY(0);
}

/* Map */
.mapa-responsive {
    position: relative;
    width: 100%;
    padding-top: 42%;
    border-radius: 12px;
    overflow: hidden;
}

.mapa-responsive iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 600px;
    border: 0;
}
.mapa-responsive {
    max-width: 1300px;
    margin: auto;
}

@media (max-width: 768px) {
    /* HEADER */
    .container {
        margin-inline: 1.5rem;
    }
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--color-yellow);
        width: 80%;
        height: 100vh;
        padding: 8rem 3.5rem 0;
        box-shadow: -4px 0 16px #0000004d;
        transition: right .4s;
    }
    .nav__link {
        font-size: var(--h2-font-size);
    }
    .nav__link:hover{
        color: white;
    }
    .active-link {
        color: var(--white-color);
    }
    .nav__toggle,
    .nav__close {
        display: inline-flex;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .nav__list {
        flex-direction: column;
        row-gap: 3.5rem;
    }
    .nav__toggle {
        color: var(--black-color);
    }
    .nav__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
    .nav__menu.show-menu {
        right: 0;
    }
    .show-menu {
        right: 0;
    }

}
@media (max-width: 500px) {
    .sect-cards{
        width: 40% !important;
        padding: 2rem 0 2rem 1.5rem;
    }
}

@media (max-width: 600px) {
    .nav{
        height: 4rem;
    }
    .nav__logo img{
        width: 5rem;
    }
    .section{
        padding-block: 3rem;
    }
    /* BANNER */
    .banner{
        margin: 4rem 0 3rem;
        height: auto;
    }
    .banner-img{
        object-fit: cover;
        object-position: right;
    }
    .banner-content{
        left: 0;
        max-width: 100%;
    }
    .banner-img{
        height: 500px;
    }
    .banner-title{
        font-size: 35px;
    }
    .banner-content{
        width: 100%;
        justify-content: center;
    }
    .banner-pd{
        margin-top: 4rem !important;
    }
    .first-column-bnr, .second-column-bnr{
        padding: 10px 1rem;
    }

    /* ABOUT US */
    .about-us-image, .about-us-content{
        width: 100%;
    }
    .about-us{
        padding: 30px 15px;
    }
    .about-us-image img{
        height: 350px;
        object-fit: cover;
    }
    
    /* Service */

    .title-heading h2{
        font-size: 30px;
        line-height: 38px;
    }
    .sect-card {
        width: 90%;
        flex-direction: column;
    }
    .sect-inf {
        text-align: center;
        align-items: center;
    }
    .sect-inf button {
        align-self: center;
    }
    .fs-title{
        font-size: 30px !important;
        line-height: 30px !important;
        width: 80%;
        margin: 0 auto;
    }
    .bg-serv{
        padding-top: 8rem;
        margin-top: -9rem;
    }
    .service-btn{
        margin: 3rem 0 0 0;
    }
    .container-card{
        padding-top: 2rem;
    }
    .sector-card{
        flex: 0 0 100%;
    }
    .button-prev{
        left: 15px;
    }
    .button-next{
        right: 15px;
    }
    .button-prev, .button-next{
        top: 40%;
    }

    /* Contact */
    .banner-contact h2{
        line-height: 32px;
        letter-spacing: 2px;
        font-size: 2rem;
    }
    .contact-section{
        padding: 60px 20px !important;
    }
    .mapa-responsive iframe{
        height: 50vh;
    }
    .mapa-responsive{
        max-width: 90%;
        height: 50vh;
        margin-bottom: 4rem;
    }

    /* Testimonials */

    .testimonials{
        padding: 0;
    }
    .container-testimonials h2{
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 1rem;
    }

    /* Question */

    .container-inf-quest{
        margin: 2rem 0 2rem;
    }
    .container-inf-quest h2 {
        font-size: 1.8rem;
    }
    .question-text {
        font-size: 0.95rem;
    }
    .faq-question {
        padding: 16px;
    }
    .faq-question:hover {
        padding-left: 16px;
    }

    /* Clientes */

    .brands-section {
        padding: 40px 20px;
    }
    .brands-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .carousel-item {
        width: 120px;
        height: 60px;
    }
    .carousel-wrapper::before,
    .carousel-wrapper::after {
        width: 50px;
    }
    .container-cards{
        gap: 0.8rem;
        margin: 0rem 0 3rem;
    }
    .sect-cards{
        width: 28%;
        padding: 0.8rem 0 1.5rem 1rem;
    }
    .sect-icon i{
        font-size: 30px;
    }
    .cert-containter img{
        width: 30%;
    }
    .cert-containter img:nth-child(5){
        height: 5rem !important;
    }
    .carousel-track{
        gap: 16px;
    }
    /* Certificados */

    .p-title-nt{
        margin: 20px 10px;
        font-size: 16px;
    }

    /* Contenido del banner */

    .hero-contact{
        width: auto;
        top: 71%;
    }
    .hero-contact .inf-hero p{
        font-size: 12px;
    }
    .title-hero i{
        font-size: 25px;
    }

    /* FRANCHISE */

    .img-portada, .img-portada-tablet{
        display: none;
    }
    .img-portada-responsive{
        display: flex;
        width: 100%;
        height: 600px;
        background-image: url("img/franchise-responsive.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .inf-bnr{
        width: 80%;
        top: 76%;
        left: 50%;
        line-height: 20px;
    }
    .inf-bnr p:nth-child(1){
        font-size: 20px;
    }
    .inf-bnr a > p{
        font-size: 15px;
    }
    .inf-bnr p{
        font-size: 15px;
    }

    /* Footer */

    .newsletter-form{
        flex-direction: column;
    }
    .newsletter-form button{
        justify-content: center;
    }
    .form-inbox{
        padding: 40px 20px;
    }
    .ft-down{
        flex-direction: column;
    }
    .ft-down p{
        text-align: center;
        padding-bottom: 10px;
        width: 70%;
    }
    .footer-section{
        width: 100%;
    }
    .footer-main{
        padding: 40px;
        gap: 1.5rem;
    }
    .social-links{
        margin-top: 0;
    }
    .ft-down a{
        font-size: 12px;
    }
    .footer-down{
        flex-direction: column;
        gap: 30px;
    }
    .container-quest{
        background-size: cover;
        background-position: left center;
    }
    .testimonial-card {
        flex: 0 0 calc((100% / 1) - 1rem);
    }
}

@media screen and (min-width: 600px) and (max-width: 1150px){

    /* Banner */
    .banner{
        height: 40vh;
        margin: 6rem 0 6rem;
    }
    .banner-img{
        height: 40vh;
    }
    .banner-content{
        top: 0;
        max-width: 35%;
        left: 55%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-title{
        font-size: 2rem;
    }
    /* About us */
    .about-us-image img{
        height: 300px;
    }
    .about-us-content h1{
        font-size: 20px;
    }
    .about-us-content p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .first-column-bnr, .second-column-bnr{
        padding: 10px 1rem;
    }

    /* Service */

    .sector-card { 
        flex: 0 0 50%; 
    }
    .button-prev{
        left: 15px;
    }
    .button-next{
        right: 15px;
    }
    .button-prev, .button-next{
        top: 40%;
    }
    .sect-card{
        width: 40%;
    }

    /* Footer */
    .footer-main{
        justify-content: left;
    }
    .footer-section{
        width: 30%;
    }
    .footer-content{
        width: min(95%, 1400px);
    }
    .container {
        margin-inline: 1.5rem;
    }
    .sector-card img{
        height: 30vh !important;
    }
    .ft-down{
        width: min(95%, 1400px);
    }

    /* Nosotros */
    .img-pg-about{
        height: 30vh !important;
    }
    .sect-cards{
        width: 23%;
        padding: 2rem 1rem 2rem 1.5rem;
    }
    .cert-containter img{
        height: auto !important;
    }
    .cert-containter{
        padding-top: 2rem;
    }
    .img-portada-tablet{
        width: 100%;
        height: 420px;
        background-image: url("img/franchise-tablet.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
    }
    .img-portada, .img-portada-responsive{
        display: none;
    }
    .footer-main{
        gap: 0;
    }
    .footer-down{
        justify-content: initial;
        gap: 4vh;
    }
    .hero-contact{
        width: auto;
        top: 70%;
    }
    .inf-hero p{
        font-size: 10px;
    }
    .title-hero i {
        font-size: 25px;
    }
    .container-quest{
        background-size: cover;
        background-position: left center;
    }
    .banner-contact h2{
        line-height: 65px;
    }
}

@media screen and (min-width: 842px) and (max-width: 1200px){
    .footer-section {
        flex: none !important;
    }
    .footer-main {
    justify-content: left;
    }
}


/*==========================ABOUT US============================*/

.banner-pd{
    margin-top: var(--header-height);
    background-image: url(img/banner-question.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 20vh;
}
.banner-pd p{
    color: var(--white-color);
    font-size: 30px;
    display: flex;
    align-items: center;
    height: 20vh;
    font-weight: 600;
}
.pg-about{
    background-color: var(--white-color) !important;
}
.cl-about h1{
    color: var(--color-blue) !important;
}
.cl-about p{
    color: var(--black-color) !important;
}
.cl-about .about-us-button{
    background-color: var(--color-blue) !important;
    color: var(--white-color) !important;
    transition: background-color 0.9s;
}
.cl-about .about-us-button:hover{
    background-color: var(--color-yellow) !important;
}

/* ===== SECCIÓN PRINCIPAL ===== */

.about-stats {
    text-align: center;
    background-color: #f7f8fa;
    padding: 80px 20px 0;
    color: #222;
}

/* ===== BLOQUES SUPERIORES ===== */

.container-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 60px;
    max-width: 1100px;
    margin-inline: auto;
}
.info-box {
    padding: 0 10px;
}
.info-icon {
    width: 50px;
    margin-bottom: 15px;
}
.info-box h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}
.info-box p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.6;
    text-align: left;
}

/* ===== BLOQUE INFERIOR (STATS) ===== */

.stats-box {
    position: relative;
    background-color: var(--color-blue);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.stat {
    text-align: center;
    min-width: 200px;
}
.stat h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 8px;
}
.stat p {
    font-size: 1rem;
    color: var(--white-color);
}
.dot {
    font-size: 2rem;
    color: #00b7d8;
    margin: 0 10px;
}
.img-pg-about{
    margin-top: -5rem;
    background-image: url(img/contact-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;   
    width: 100%;
    height: 60vh;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
    .container-top {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
@media (max-width: 600px) {
    .container-top {
        grid-template-columns: 1fr;
    }
    .stat h2 {
        font-size: 2rem;
    }
    .stats-box {
        flex-direction: column;
        gap: 10px;
    }
    .dot {
        display: none;
    }
}


/*==========================SERVICE============================*/

.pd-top-none{
        padding-top: 0 !important;
        margin-top: 0 !important;
}
.pd-srv{
    padding-top: 5rem;
}

/*==========================CONTACT============================*/

.contact-section {
    padding: 80px 20px;
    text-align: center;
}
.contact-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-blue);
    margin-bottom: 10px;
}
.contact-title span {
    color: var(--color-yellow);
}
.contact-subtitle {
    font-size: 1rem;
    color: #333;
    margin-bottom: 40px;
}

/* ====== FORMULARIO ====== */
.contact-form {
    max-width: 1000px;
    margin: 0 auto;
}
.form-row {
    display: flex;
    gap: 20px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    resize: none;
    transition: border-color 0.3s;
    margin-bottom: 20px;
    font-family: "Maven Pro", sans-serif;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--color-yellow);
}

/* ====== BOTÓN ====== */
.btn-send {
    margin-top: 20px;
    background-color: var(--color-blue);
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-send:hover {
    background-color: var(--color-yellow);
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .contact-title {
        font-size: 1.6rem;
    }

    .contact-subtitle {
        font-size: 0.95rem;
    }
}